@charset "utf-8";
/* CSS Document */
input:hover{
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-moz-box-shadow:0px 0px 3px #f00;/*Sombra para mozilla: der aba iz ancho*/
	-webkit-border-radius:5px;
	-webkit-box-shadow:0px 0px 3px #f00;
	border-radius:5px;
	box-shadow:0px 0px 3px #f00;
}

input{
	border-color:#F00;
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-webkit-border-radius:5px;
	border-radius:5px;
}

input:focus{
	background-color: #F8DAE3;
}

body{
	background-image: url('images/logouv-back.png');
	font-style:italic;
}
.login{
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-moz-box-shadow:1px 1px 4px #333;/*Sombra para mozilla: der aba iz ancho*/
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	border-radius:5px;
	background-color: #FFF;
	position: absolute;
	top: 15%;
	left: 15%;
	width: 530px;
	height: 250px;
}

div.logo{
	background-attachment: fixed;
	background-color: #FFF;
	background-repeat: no-repeat;
	position: relative;
	/*height: 300px;
	width: 266px;*/
	left: 10px;
	top: 25px;
	float: left;
	padding: 10px;
}

div.formulario{
	position: relative;
	top: 1px;
	overflow: visible;
	padding: 5px;
	margin: 5px;
	list-style-type: circle;
	bottom: 30px;
	float: right;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #999;
	
}

div.mensaje{
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-moz-box-shadow:1px 1px 4px #333;/*Sombra para mozilla: der aba iz ancho*/
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	border-radius:5px;
	float: left;
	position: relative;
	margin: 5px;
	padding: 5px;
	font-weight: bold;
}

div.campos{
	float: left;
	position: relative;
}

span.etiquetaInput{
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	font-style: normal;
	text-shadow:2px 2px 2px #800;
}

span.univalle{
	font-style:italic
}
