body {}
p {}
td  { font-weight: 500; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.subtitulo { color: black; font-weight: 900; font-size: 16px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.black { color: black; font-weight: 500; font-size: 12px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
select  { font-size: 11px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
input { font-size: 11px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.titulo  { color: black; font-weight: 900; font-size: 16px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.encabezado { color: red; font-weight: 900; font-size: 30px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
