﻿@charset "utf-8";
/* CSS Document */

#navi {  
	list-style:none;
	margin:0;
	padding:0;
}
#navi li {
	margin:2px;
	padding:0; /*/Ya no necesito el padding, tambien quitare el borde que puse antes.*/
	/*float:left;*/
}
#navi li a {
	display:block; /*/Convertimos el vínculo en un bloque.*/
	width:100px;
	padding:14px 15px;
	margin:0px 0px;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	color:#888;
	background-color:#C6E2FF;
	/*background-image:url(images/fondoa.png);*/
	border-left-width: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #690;
}
/*Ahora vamos con el hover: o sea sobre el enlace*/
#navi li a:hover {
	color:#000;
	background-color:#A8D3FF;
	/*background-position:bottom;*/
	font-style:inherit;
	font-size:16px;
}/**/

#n142 {
	background:#C6E2FF;
	width: 142px;
	height: auto;
}/**/

#curved-box
    {
    width: 140px;
    margin: 10px;
    background-color: #fed7da;/*Rosado*/
}

#curved-box h2
    {
    background: url(images/curve_top.png) no-repeat left top;
    color: #FF0000;/*Rojo:Color de letra*/
    padding: 10px 15px 5px 15px;
	/*background-color: #fed7da;/*Rosado*/
}

#curved-box p
    {
    background:url(images/curve_bottom.png) no-repeat left bottom;
    margin: 0px;
    padding: 5px 15px 10px 15px;
    text-align: left;
}

/**********************************/
#navi2 {  
	list-style:none;
	margin:0;
	padding:0;
}
#navi2 li {
	margin:2px;
	padding:0; /*/Ya no necesito el padding, tambien quitare el borde que puse antes.*/
	/*float:left;*/
}
#navi2 li a {
	display:block; /*/Convertimos el vínculo en un bloque.*/
	width:100px;
	padding:14px 15px;
	margin:0px 0px;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	color:#888;
	background-color:#fed7da;
	/*background-image:url(images/fondoa.png);*/
	border-left-width: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #690;
}
/*Ahora vamos con el hover: o sea sobre el enlace*/
#navi2 li a:hover {
	color:#000;
	background-color:#fed7da;
	/*background-position:bottom;*/
	font-style:inherit;
	font-size:16px;
}/**/

#n1422 {
	background:#fed7da;
	width: 142px;
	height: auto;
}/**/

#fin {
}

