@charset "utf-8";
/* CSS Document */

body {
	font: bold 12px Georgia, "Times New Roman", Times, serif;
	color: #000;
}

table {
	border: 0px solid #FF0000;
}

td {
	padding: 0px;
}

div.cuerpo {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	border: thin solid #F00;
	size: inherit;
	position:absolute;
	left: 214px;
	top: 303px;
	min-width:700px;
	min-height:200px;
	width:700px;/*Ancho: borrar*/
	height:400px;/*Alto: borrar*/
	overflow: scroll;/*barras de desplazamiento: visible*/
}

div.cuerpo table.listado {
	color: #000;
	font-size:14px;
	border:double;
	border-color:#F00;
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-ms-border-radius:7px;
	border-radius:7px;
	margin:3px;
}

div.cuerpo table.listado tr.cabecera td{
	background-color: #F00;
	color:#FFF;
	text-align: center;
	white-space: nowrap;
	/*vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;*/
}

div.cuerpo table.listado tr.par td{
	background-color: #CCC;
	white-space: nowrap;
}

div.cuerpo table.listado tr.impar td{
	background-color: #FFF;
	white-space: nowrap;
}

/**********Mensaje a usuario*******/

div.mensaje{
	white-space:nowrap;
	overflow:hidden;
	position:absolute;
	left: 214px;
	top: 263px;
	height:40px;
}
div.mensaje a{
	text-decoration: none;
	color:#6400A6;
}

div.mensaje img{
	border:hidden;
}
/*********************/
#todo{
	position:absolute;
	left: 20px;
	top: 20px;
}

#contenedor{
	position:absolute;
	overflow: scroll;
	left: 20px;
	top: 20px;
	width:800px;
	height:600px;
}
#imagen1{
	position:absolute;
	left: 19px;
	top: 10px;
}
#imagen2{
	position:absolute;
	left: 0px;
	top: 224px;
}
#imagen3{
	position:absolute;
	left: 19px;
	top: 258px;
}
#imagen4{
	position:absolute;
	left: 803px;
	top: 224px;
}

#barramenu{
	background-image: url(Odontologia_05.png);
	background-repeat:repeat-x;
	position:absolute;
	left: 208px;
	top: 224px;
	width:595px;
	height:34px;
}
/*********************/
#arriba{
	background-image: url(Odontologia_05.png);
	background-repeat:repeat-x;
	position:absolute;
	left: 208px;
	top: 224px;
	width:595px;
	height:34px;
	padding:0px;
}
#arriba li {
	display: block;
	float: right;
	list-style-type: none;
	padding-right:10px;
	padding-left:30px;
	text-align:right;
}

#arriba li a{
	color: #403F3D;
	display: block;
	height: 27px;
	letter-spacing: 2px;
	text-decoration: none;
}

#arriba li a:hover {
	color: #FFFFFF;
	display: block;
}

#arriba ul{
	clear: both;
	display: block;
	float: right;
	position: relative;
	top: 3px;
}
/************Pie de pagina***********/
#piepagina{
	position: relative;
	bottom: 10px;
	text-align: center;
	display: compact;
	color:#999;
	left: 300px;
}

#piepagina hr{
	height: 0px;
	width: 80%;
	background-color: #F00;
}

/**********Menu superior***********/
/*
The Ultimate Navigation with CSS level 3, Mon Dec 1st, 2008
Copyright (C) 2008 Bogdan Pop of WebRaptor (http://www.bogdanpop.info, http://www.webraptor.eu)
Published by Freelancer Magazine (http://www.freelancermagazine.com)
Special thanks to Taiyab Raja of 6 Creations (http://www.6creations.com)
Special thanks to John Cottone of Tone Media, LLC

Released under Creative Commons Attribution 3.0 (http://creativecommons.org/licenses/by/3.0)
If you modify these source codes and use them in your own projects you must not modify or remove the above credits. However, you may add your own below this line.
*/
/* GENERAL CSS CONFIG */
#wrap
	{
	margin-top:30px;
	}
/* MENU CONFIG */	
#menubar
{	
	background-image: url(Odontologia_05.png);
	background-repeat:repeat-x;
	position:absolute;
	left: 208px;
	top: 224px;
	width:595px;
	height:34px;
	padding:0px;
}
ul#navmenu
{
	margin:0 auto;
	padding:0;
	float:left;
	list-style: none;
	border: 0 none;
	margin-left:25px;
}

ul#navmenu li {
	margin: 0;
	border: 0 none;
	padding: 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
}

ul#navmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 250px;
	list-style: none;
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	-webkit-box-shadow: 3px 3px 20px #000;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 3px 3px 20px #000;
	-moz-border-radius: 5px;
	-ms-box-shadow: 3px 3px 20px #000;
	-ms-border-radius: 5px;
	box-shadow: 3px 3px 20px #000;
	border-radius: 5px;
}

ul#navmenu ul li {
	float: none; /*For Gecko*/
	display: block !important;
	display: inline; /*For IE*/
	background-image:none;
}

/* Root Menu */
ul#navmenu a {
	padding: 0 10px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	color:#000000;
	line-height:25px;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/ 
	text-align:center;
}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
	border-bottom:none;
	color: #FFFFFF;
	background-image:url('imgmenusup/menubar_hover.jpg');
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
	float: none;
	line-height:25px;
	width:230px;
	text-align:left;
	color: #000000;
	background-image:none;
	background-color:#FFF;
	border-bottom:none;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
	color: #FFF;
	background-image:url('imgmenusup/menu_ex_hover_bg.jpg');
	background-repeat:repeat-x;
	border-bottom:none;
}

ul#navmenu ul li
	{
	width:250px;
	padding:0px;
	background-color:#FFF;
	border: 1px solid #999999;
	border-top:none;
	border-bottom:none;
	}
ul#navmenu ul li.start
	{
	background-color:#FFF;
	border: 1px solid #999999;
	border-top:none;
	border-bottom:none;
	padding-top:5px;
	}
ul#navmenu ul li.end
	{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	-ms-border-radius-bottomleft: 7px;
	border-bottom-left-radius : 7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	-ms-border-radius-bottomright: 7px;
	border-bottom-right-radius : 7px;
	
	padding-bottom:5px;
	background-color:#FFF;
	border: 1px solid #999999;
	border-top:none;
	}
	
ul#navmenu ul li.expand a
	{
	background-image:url('imgmenusup/menu_ex_arrow_defa.jpg');
	background-repeat:no-repeat;
	background-position:right;
	border-bottom:none;
	}

ul#navmenu li:hover li.expand a:hover,
ul#navmenu li:hover li.expand:hover a
	{
	background-image:url('imgmenusup/menu_ex_arrow_hover.jpg');
	background-repeat:no-repeat;
	background-position:right;
	border-bottom:none;
	}

/* 3rd Menu */
ul#navmenu li:hover li.expand:hover li a,
ul#navmenu li.iehover li.iehover li a {
	background: #FFFFFF;
	color: #000000;
	background-image:none;
	border-bottom:none;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li.expand:hover li a:hover,
ul#navmenu li:hover li.expand:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
	background: #FFFFFF;
	color: #FFF;
	background-image:url('imgmenusup/menu_ex_hover_bg.jpg');
	background-repeat:repeat-x;
	border-bottom:none;
}

ul#navmenu ul li ul li
	{
	width:250px;
	padding:0px;
	background-color:#FFF;
	border: 1px solid #999999;
	border-bottom:none;
	border-top:none;
	}
ul#navmenu ul li ul li.start
	{
	background-color:#FFF;
	border: 1px solid #999999;
	border-bottom:none;
	padding-top:5px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	-ms-border-radius-topright: 7px;
	border-top-right-radius : 7px;
	}
ul#navmenu ul li ul li.end
	{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	-ms-border-radius-bottomleft: 7px;
	border-bottom-left-radius : 7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	-ms-border-radius-bottomright: 7px;
	border-bottom-right-radius : 7px;
	
	padding-bottom:5px;
	background-color:#FFF;
	border: 1px solid #999999;
	border-top:none;
	}

/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
	background: #CCCCCC;
	color: #000000;
}

/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background: #16171B;
	color: #FFF;
}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 250px;
	margin: 0px;
	-webkit-box-shadow: 3px 3px 20px #000;
	-webkit-border-radius: 5px;
	
	-moz-box-shadow: 3px 3px 20px #000;
	-moz-border-radius: 5px;
	
	-ms-box-shadow: 3px 3px 20px #000;
	-ms-border-radius: 5px;
	
	box-shadow: 3px 3px 20px #000;
	border-radius: 5px;
	
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
	display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
	display: block;
}

ul#navmenu img{
	border:hidden;
	text-align: center;
	vertical-align: middle;
	float: right;
}


#supder{
	position:fixed;
	top: 0px;
	font-size: 10px;
	float: right;
	text-align: right;
	right: 0px;
}