DIV.sdmenu {
	PADDING-BOTTOM: 10px; 
	WIDTH: 189px; 
	FONT-FAMILY: Arial, sans-serif; 
	BACKGROUND: url(Odontologia_13.png) repeat-y; 
	COLOR: #fff; 
	FONT-SIZE: 12px
}
DIV.sdmenu DIV {
	width:189px;
	BACKGROUND: url(Odontologia_17.png) repeat-x; OVERFLOW: hidden
}
DIV.sdmenu DIV:first-child {
	BACKGROUND: url(Odontologia_17.png) no-repeat
}
DIV.sdmenu DIV.collapsed {
	HEIGHT: 25px
}
DIV.sdmenu DIV SPAN {
	BORDER-BOTTOM: #ddd 0px solid; 
	PADDING-BOTTOM: 5px; 
	PADDING-LEFT: 25px; 
	PADDING-RIGHT: 25px; 
	DISPLAY: block; /*BACKGROUND: url(images/curve_top.png) no-repeat 10px center;*/ 
	COLOR: black; 
	CURSOR: default; 
	FONT-WEIGHT: bold; 
	PADDING-TOP: 5px
}
DIV.sdmenu DIV.collapsed SPAN {
	BACKGROUND: url(Odontologia_17.png) repeat-x; OVERFLOW: hidden
}

DIV.sdmenu DIV A {
	BORDER-BOTTOM: #ddd 0px solid; 
	PADDING-BOTTOM: 5px; 
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px; 
	DISPLAY: block; 
	/*BACKGROUND: #C6E2FF; */
	background: url(Odontologia_20.png);
	COLOR: #066; 
	PADDING-TOP: 5px
}
DIV.sdmenu DIV A.current {
	BACKGROUND: #ccc
}
DIV.sdmenu DIV A:hover {
	background: url(Odontologia_21.png)no-repeat right center;
	color:#FFF;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
}
