<style>
.listado {
	color: #000;
	font-size:11px;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-weight:bold;
	border:double;
	border-color:#F00;
	min-width:100%;

	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-ms-border-radius:7px;
	border-radius:7px;
	margin:3px;

	-webkit-box-shadow: 3px 3px 20px #000;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 3px 3px 20px #000;
	-moz-border-radius: 5px;
	-ms-box-shadow: 3px 3px 20px #000;
	-ms-border-radius: 5px;
	box-shadow: 3px 3px 20px #000;
	border-radius: 5px;
}

.listado tr.cabecera td{
	background-color: #F00;
	color:#FFF;
	text-align: center;
}

.par td{
	background-color: #CCC;
}

.impar td{
	background-color: #FFF;
}

</style>


<table class="listado">
	<tr class="cabecera">
		<td>ID usuario</td>
		<td>Nombres y apellidos</td>
		<td>Identificaci&oacute;n</td>
		<td>Fecha realizaci&oacute;n</td>
		<td>Login</td>
	</tr>