@charset "utf-8";
/* CSS Document */
input:hover{
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-moz-box-shadow:1px 1px 10px #f9F;/*Sombra para mozilla: der aba iz ancho*/
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #09F;
	border-radius:5px;
}

input{
	border-color:#F00;
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-webkit-border-radius:5px;
	border-radius:5px;
}
body{
	background-image: url('images/logouv-back.png');
}
.login{
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-moz-box-shadow:1px 1px 4px #333;/*Sombra para mozilla: der aba iz ancho*/
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	border-radius:5px;
	background-color: #FFF;
	position: absolute;
	top: 10%;
	right: 15%;
}

div.logo{
	background-attachment: fixed;
	background-color: #FFF;
	background-repeat: no-repeat;
	position: relative;
	height: 300px;
	width: 266px;
	left: 10px;
	top: 0px;
	float: left;
	padding: 10px;
}

div.formulario{
	position: relative;
	top: 1px;
	overflow: visible;
	padding: 5px;
	margin: 5px;
	list-style-type: circle;
	bottom: 30px;
	float: right;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #999;
	
}

div.mensaje{
	-moz-border-radius:5px;/*Borde con radio para mozilla*/
	-moz-box-shadow:1px 1px 4px #333;/*Sombra para mozilla: der aba iz ancho*/
	-webkit-border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	border-radius:5px;
	float: left;
	position: relative;
	margin: 5px;
	padding: 5px;
}

div.campos{
	float: left;
	position: relative;
}

span.etiquetaInput{
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	font-style: normal;
	text-shadow:2px 2px 2px #800;
}
