#divmenu{
	position:absolute;
	left: 19px;
	top: 310px;
}
#menu{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px #888;
	-moz-box-shadow:1px 1px 3px #888;
	-ms-box-shadow:1px 1px 3px #888;
	display:block;
	background-color:#95C6F7;/*Color de fondo #2961A9*/
	margin:0;
	padding:0;
	width:189px;
	list-style:none;
	font-weight:bold;
}
#menu li{
	border-bottom:1px solid #FFF;
}
#menu ul li, #menu li:last-child{
	border:none;
}
#menu a{
	display:block;
	color:#000;/*Color de letra del enlace #FFF*/
	text-decoration:none;
	font-family:'Helvetica', Arial, sans-serif;
	font-size:13px;
	padding:3px 5px;
	/*text-shadow:1px 1px 1px #325179;*/
	border-bottom:1px solid #FFF;
}
#menu a:hover{
	color:#F00;/*Color de letra cuando esta sobre #F9B855*/
	-webkit-transition: color 0.2s linear;
}
#menu li ul a{
	background-color:#DBD9F9;/*Color de fondo de submenu #6594D1*/
}
#menu li ul a:hover{
	background-color:#FFF;/*Color de fondo de submenu cuando esta sobre #FFF*/
	color:#2961A9;/*Color deletra*/
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}
#menu ul{
	background-color:#6594D1;
}
#menu li ul {
	display:none;
	margin:0;
	padding:0;
	width:189px;
	list-style:none;
}
